{% extends 'base.html.twig' %}

{% block title "Voiture" ~ voiture.marque.nom ~ " " ~ voiture.modele %}

{% block body %}
    <div class="container">
        <div class="car-card">
            <div class="car-image">
                {% if image %}
                        <img src="{{ asset('uploads/' ~ image.imagePath) }}" alt="Voiture image">
                {% endif %}
            </div>
            <div class="car-details">
                <h2>{{ voiture.modele }}</h2>
                <ul>
                    <li><strong>Couleur:</strong> {{ voiture.couleur }}</li>
                    <li><strong>Marque:</strong> {{ voiture.marque.nom }}</li>
                    <li><strong>Catégorie:</strong> {{ voiture.categorie.nom }}</li>
                    <li><strong>Lieu:</strong> {{ voiture.lieu }}</li>
                    <li><strong>Prix par Jour:</strong> {{ voiture.prixParJour }} DH</li>
                    <li><strong>Attributs:</strong> {{ voiture.attributs }}</li>
                    <li><a href="{{ path('reservation.create',{id : voiture.id}) }}" class="btn">Reserver</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}