{% extends "base.html.twig" %}

{% block title %}Voitures{% endblock %}

{% block body %}
    <div class="grid-container">
        {% if voitures %}
            {% for voiture in voitures %}
                <div class="car-card">
                    <div class="car-image">
                        {% set carImage = images|filter(image => image.voiture == voiture)|first %}
                        {% if carImage %}
                            <img src="{{ asset('uploads/' ~ carImage.imagePath) }}" alt="Voiture image">
                        {% endif %}
                    </div>
                    <div class="car-details">
                        <h2>{{ voiture.modele }}</h2>
                        <ul>
                            <li><strong>Couleur:</strong> {{ voiture.couleur }}</li>
                            <li><strong>Marque:</strong> {{ voiture.marque.nom }}</li>
                            <li><strong>Catégorie:</strong> {{ voiture.categorie.nom }}</li>
                            <li><strong>Lieu:</strong> {{ voiture.lieu }}</li>
                            <li><strong>Prix par Jour:</strong> {{ voiture.prixParJour }} DH</li>
                            <li><strong>Attributs:</strong> {{ voiture.attributs }}</li>
                            <li class="btn-container">
                                <a href="{{ path('reservation.create', {id: voiture.id}) }}" class="btn">Reserver</a>
                                <a href="{{ path('car.show', {id: voiture.id}) }}" class="btn">Voir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No cars available.</p>
        {% endif %}
    </div>
{% endblock %}
