<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <a href="{{ path('home') }}" class="nav-bar-brand">Ra7al</a>
    <nav class="nav-left">
        <ul class="nav_links">
            <li><a class="{{ app.current_route starts with 'car.' ? 'active' : '' }}" href="{{ path('car.list') }}">Voitures</a></li>
            {% if app.user and app.user.profile.id == 2 %}
                <li><a class="{{ app.current_route == 'admin' ? 'active' : '' }}" href="{{ path('admin') }}">Admin Panel</a></li>
            {% endif %}
            <li><a class="{{ app.current_route == 'about' ? 'active' : '' }}" href="{{ path('about') }}">A propos</a></li>
            <li><a class="{{ app.current_route == 'contact' ? 'active' : '' }}" href="{{ path('contact') }}">Contact</a></li>
            {% if not app.user %}
                <li><a href="{{ path('register') }}">S'enreigstrer</a></li>
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% else %}
                {% if app.user and app.user.profile.id == 1 %}
                    <li><a class="{{ app.current_route == 'my.reservations' ? 'active' : '' }}" href="{{ path('my.reservations') }}">Mes Reservation</a></li>
                {% endif %}
                <li><a class="{{ app.current_route starts with 'user.' ? 'active' : '' }}" href="{{ path('user.show', {id: app.user.id}) }}">Profile</a></li>
                <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
            {% endif %}
            <li><form action="{{ path('car.search' ) }}" method="get">
                    <input type="search" placeholder="Search" name="q">
                </form></li>
        </ul>

    </nav>
</header>
<div>
    {% include 'partials/flash.html.twig' %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
